/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
*/
.sidebar {
    position: absolute;
    background-color: lightgrey;
    left: 0;
    top: 0;
    padding-left: 1rem;
    width: 250px;  
    height: 100%;
    display: inline-block;
}

div {
    padding-bottom: 0.5rem;
}

h1.reduced-font {
    font-size: 28px;
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

button {
    margin: -20px 10px 10px 20px;
    height: 30px;
}

.chat-window {
    //display: inline-block;
    float: right;
    position: relative;
    background-color: red;
    height: 100%;
    //width: 1000px;
}

.clearfix::before,
.clearfix::after {
   content: " ";
   display: table;
}

.clearfix::after {
   clear: both;
}