/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
*/
.navbar {
    position: absolute;
    background-color: lightgrey;
    left: 0;
    top: 0;
    padding-left: 1rem;
    width: 250px;  
    height: 100%;
}

div {
    padding-bottom: 0.5rem;
}

h1.reduced-font {
    font-size: 28px;
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

button {
    margin: -20px 10px 10px 20px;
    height: 30px;
}