html, body, .main, nav {
    height: 100%;
    width: 100%;
}

.sidebar {
    position: fixed;
    background-color: lightgrey;
    left: 0;
    top: 0;
    padding-left: 1rem;
    width: 250px;  
    height: 100%;
    //display: inline-block;
    float: left;
    //flex-direction: column;
}

#right-pane {
    padding-left: 250px;
}

div {
    padding-bottom: 0.5rem;
}

h1.reduced-font {
    font-size: 28px;
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

button {
    margin: -20px 10px 10px 20px;
    height: 30px;
}

.chat-window {
    margin-bottom: 20px;
}

.active-room-header {
    padding: 20px;
    width: auto;
    font-weight: bold;
}

.odd {
    background-color: lemonchiffon;
}
.user-content {
    width: 95%;
    min-width: 120px; 
    padding: 10px;
    font-weight: bold;
}

#conversation {
    font-weight: normal;
}

.timepoint {
    width: 5%;
    min-width: 80px; 
    padding: 10px;
}

.setUser-box {
    background-color: lightsteelblue;
}

input[type='text'] {
    width: 100%;
    height: 30px;
    font-weight: 200;
    padding-left: 20px;
    background-color: aliceblue;
}

.chat-box {
    //padding: 0;
    //left: 0;
    //width: auto; 
    //margin-top: 10px;
    position: fixed;
    bottom: 0;
}

#text-box, #send-button {
    padding: 0;
}

.send-button-entity {
     //width: calc( 100% + 50px );
    width: 100%;
    background-color: blue;
    color: white;
    font-weight: 600;
}

