/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
*/
/*.main {
    display: flex;
    float: left;
} */

html, 
body, 
.main {
    height: 100%;
}

.sidebar {
    //position: absolute;
    background-color: lightgrey;
    left: 0;
    top: 0;
    padding-left: 1rem;
    width: 250px;  
    height: 100%;
    //display: inline-block;
    float: left;
}

div {
    padding-bottom: 0.5rem;
}

h1.reduced-font {
    font-size: 28px;
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

button {
    margin: -20px 10px 10px 20px;
    height: 30px;
}

.chat-window {
    //flex-grow: 100;
    //display: inline-block;
    //float: right;
    //position: relative;
    //background-color: red;
    height: 100%;
    width: auto;
    overflow: hidden;
}

.active-room-header {
    left: 20px;
    padding: 20px;
    width: auto;
}

.odd {
    background-color: lemonchiffon;
}
.user-content {
    width: 95%;
    min-width: 120px; 
    /*margin-bottom: 10px;*/
    padding: 10px;
    font-weight: bold;
}

#conversation {
    font-weight: normal;
}

.timepoint {
    width: 5%;
    min-width: 80px; 
    /*margin-bottom: 10px; */
    padding: 10px;
}

.setUser-box {
    background-color: lightsteelblue;
}

input[type='text'] {
  //left: 120px;
  //position: absolute;
  //right: 77px;
  //top: 0;
  //transition-duration: 100ms;
    width: 100%;
    height: 30px;
    font-weight: 200;
    padding-left: 20px;
    background-color: aliceblue;
}
/*
input[type='submit'] {
  background: #1352ec;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
}
*/
.chat-box {
    padding: 0;
    left: 0;
    width: 100%;
    
}

#text-box, #send-button {
    padding: 0;
}

.send-button-entity {
     //width: calc( 100% + 50px );
    width: 100%;
    background-color: blue;
    color: white;
    font-weight: 600;
}
/*.one-sentence {
    padding: 20px;
}
*/
/*
.clearfix::before,
.clearfix::after {
   content: " ";
   display: table;
}

.clearfix::after {
   clear: both;
} */