<div class = "main" ng-controller="HomeCtrl as home">
    <nav class="sidebar">
        <h1 class="reduced-font">Bloc Chat</h1>
        <button class="new-room-button" ng-click="home.open()">New room</button>
        <div ng-repeat = "room in home.rooms track by $index" ng-click = "home.getMessages(room.$id, room.name)">
            {{room.name}}
        </div> 
    </nav>
    <div>
        <div class="active-room-header">
            {{home.activeRoom}}
        </div>
        <table class = "chat-window" ng-repeat = "message in home.messages track by $index" ng-class-odd="'odd'" ng-class-even="'even'">
            <tr class="one-sentence">
<!--                <span ng-class-odd="'odd'" ng-class-even="'even'"> -->
                <td class="user-content">
                    {{message.username}} <br>
                    <p id="conversation">{{message.content}}</p>
                </td>
                <td class="timepoint">
                    {{message.sentAt}}
                </td>
<!--                </span> -->
            </tr>            
        </table>
		<table>
            <tr class="chat-box">
                <form #f="ngForm" (ngSubmit)="home.submitMsg(home.typedMsg, home.activeRoom)">
                    <td class="user-content" id="text-box">
                            <input type="text" required [(ngModel)]="Message.typedMsg" placeholder="Write you message here..." name="name">
                            TODO: remove this: {{home.typedMsg}}
                    </td>
                    <td class="timepoint" id="send-button">
    <!--                    <span class="timepoint"> -->
                            <button type="submit" class="send-button-entity" ng-click="home.submitMsg(home.typedMsg, home.activeRoom)">Send</button>
    <!--                    </span> -->
                    </td>
                </form>
            </tr>
        </table>        
    </div>
</div>
    